/* .auth-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
} */

/* Left */
/* .auth-left {
  flex: 1;
  background: linear-gradient(135deg, #020617, #050a30);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .brand-text {
  color: #00e0ff;
  font-size: 36px;
  margin-top: 20px;
} */

/* Right */
/* .auth-right {
  flex: 1;
  padding: 80px;
  background: white;
} */

/* .auth-right h1 {
  font-size: 48px;
  margin-bottom: 10px;
} */

/* .auth-right h3 {
  font-size: 22px;
  margin-bottom: 30px;
} */

/* .google-btn,
.email-btn {
  width: 320px;
  padding: 12px;
  border-radius: 30px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
} */

/* .google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
} */

/* .google-btn img {
  width: 18px;
} */

/* .email-btn {
  background: black;
  color: white;
} */

/* .terms {
  font-size: 12px;
  color: #555;
  max-width: 320px;
} */

/* .terms span {
  color: #1d9bf0;
  cursor: pointer;
} */

/* .login-text {
  margin-top: 30px;
}

.login-text span {
  color: #1d9bf0;
  cursor: pointer;
} */
